<ion-content id="main-content" [fullscreen]="true">
  <!-- Contenedor para la imagen QR -->
  <div id="qr-img">
    <img src="../../assets/img/QR_code_for_mobile_English_Wikipedia.svg.png" alt="QR Code">
  </div>
  
  <!-- Lista de opciones debajo de la imagen -->
  <ion-list>
    <ion-item [button]="true">
      <ion-label>
        Generar QR
      </ion-label>
    </ion-item>
    <ion-item [button]="true">
      <ion-label>
        Escanear QR
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
