ion-toolbar {
  --background: #3880ff; /* Cambia el color de fondo según tus necesidades */
  color: white;
}
#main {
  margin-top: 56px; /* Ajusta este valor según la altura del nav-bar */
  padding: 16px;
}