<ion-content [fullscreen]="true">
  <ion-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
    <app-revealed-list></app-revealed-list>
  </ion-list>
</ion-content>
